<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<table border="1" cellpadding="5">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>LastName</th>
        <th>E-mail</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getFirstName()}"></td>
        <td th:text="${user.getLastName()}"></td>
        <td th:text="${user.getEmail()}"></td>
    </tr>

    </tbody>
</table>
<br/>
<hr/>
<input type="button" value="CREATE USER"
       onclick="window.location.href = 'new'">
<br/>
<hr/>
<h2>Enter User ID to EDIT or DELETE</h2>
<br/>
<form action="user" method="get">
    <input type="text" name="userId"
    placeholder="Write USER id"/>
    <input type="submit">

</form>
</body>
</html>